body {
	margin: 0; 
}

ul {
	list-style: none; 
	margin: 0;
	padding: 0; 
}

.menu {
	background: #000000;
	margin: 210px 0;
	padding: 2px 60px;
}

.gradient {
	background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}

.menu-list {
	text-align: right; 
}

.menu-list-item {
	display: inline-block;
	vertical-align: top; 
	background: #FFFFFF; 
	position: relative;
	margin: 0 25px 0 25px;
}

.menu-list-link {
	font: 32px/37px Helvetica, Arial, sans-serif;
	text-transform: uppercase; 
	color: #000000;
	text-decoration: none; 
	padding: 30px 25px 29px 25px;
	display: inline-block;
	vertical-align: top; 
}

.menu-list-link:after {
	content: "";
	display: block; 
	position: absolute; 
	top:0;
	right: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 48px 25px;
    border-color: transparent transparent transparent #ffffff;
}

.menu-list-link:before {
	content: "";
	display: block; 
	position: absolute; 
	top:0;
	left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 48px 25px;
    border-color: #ffffff transparent #ffffff transparent;
}

.menu-list-link:hover {
    background: #CCCCCC;
}

.menu-list-link:hover:after {
    border-color: transparent transparent transparent #CCCCCC;
}

.menu-list-link:hover:before {
    border-color: #CCCCCC transparent #CCCCCC transparent;
}

.gradient .menu-list-link:hover:before {
    border-color: RGBA(255, 255, 255, .7) transparent RGBA(255, 255, 255, .7) transparent;
}

.gradient .menu-list-link:hover:after {
    border-color: transparent transparent transparent RGBA(255, 255, 255, .7);
    }

.gradient .menu-list-link:hover {
    background: transparent;
}

.gradient .menu-list-link:hover {
    background: transparent;
}

.gradient .menu-list-item:hover {
    background: RGBA(255, 255, 255, .7);
}